#-------------------------
# Operating Specific Junk Files
#-------------------------

# OS X
.DS_Store
.AppleDouble
.LSOverride
**/.DS_Store
**/.AppleDouble
**/.LSOverride

# OS X Thumbnails
._*

#-------------------------
# Environment Files
#-------------------------
# These should never be under version control,
# as it poses a security risk.
website/env

#-------------------------
# Temporary Files
#-------------------------
website/writable/cache/*
!website/writable/cache/index.html

website/writable/logs/*
!website/writable/logs/index.html

website/writable/session/*
!website/writable/session/index.html

website/writable/uploads/*
!website/writable/uploads/index.html

website/writable/debugbar/*

# Jetbrains editor: PHPStorm
website/.idea/